{% extends 'base.html' %}

{% block title %} Welcome to the about page {% endblock %}

<p>
{% block body %} Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ultricies a urna eu congue. Donec ut
viverra eros, eget rhoncus dui. Morbi ac dui et orci auctor placerat at non nisl. Suspendisse pretium, augue vulputate
finibus volutpat, odio metus vulputate turpis, sit amet fringilla ex est eu libero. Curabitur ultrices, nisi a tristique
iaculis, tellus dolor venenatis purus, non hendrerit nunc est vel ligula. Proin semper nunc vel ultricies pellentesque.
Nunc orci risus, varius eget nisl a, hendrerit ultrices lectus. In hac habitasse platea dictumst. Morbi sagittis nulla
vel vulputate hendrerit. Nam ut feugiat elit, non bibendum neque.
</p>
<p>
Vestibulum facilisis et velit at sagittis. Curabitur laoreet, velit ac convallis pulvinar, nisi sem tristique augue, sed
sagittis dui justo eu dolor. Nunc tristique semper luctus. Maecenas ut ultricies erat. Etiam scelerisque pretium congue.
Phasellus auctor vehicula lectus, id suscipit augue tincidunt eu. Fusce ante ipsum, efficitur vitae mauris non, lobortis
laoreet mi. Suspendisse varius, nunc quis sagittis pellentesque, neque orci pretium sapien, nec ornare massa justo quis
ex. Etiam sodales porta mauris. {% endblock %}
</p>